@use "../../assets/css/Colours.scss" as Colours;

.card-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background: Colours.$grey;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001a;
    gap: 5rem;
    height: 8rem;
    width: 40rem;

    .text-wrapper {
        display: flex;
        flex-direction: column;
        flex: 0.5;
        justify-content: space-between;

        .title {
            margin: 0;
        }

        .description {
            margin: 0;
        }
    }

    .button-wrapper {
        display: flex;
        flex: 0.5;
        align-items: flex-end;
        justify-content: flex-end;
    }
}